.title::first-letter {
  font-size: 32px;
}

.title {
  color: green;
}

.title:link {
  color: black;
}

.title:hover {
  color: red;

  transform: rotate(0.5turn);
}

.title:visited {
  color: lightblue;
}

.title:active {
  background: blue;
}

.title::before {
  content: "👽";
}
